body {
    margin: 0px;
    padding: 0px;
}

.css-reset {
    position: relative;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
}

.tumblr-num-7-d-9-lp-xj-1-slhhf-0-o-1-1280 {
    width: 1366px;
    height: 768px;
}

.topbg {
    width: 1366px;
    height: 60px;
    background-color: #051019;
}

.rectangle-861 {
    position: relative;
    top: 726px;
    left: 0px;
    width: 1366px;
    height: 42px;
    background-color: #112130;
}

.sheild {
    position: relative;
    top: 20px;
    left: 16px;
    width: 19px;
    height: 20px;
    background-color: #1871bc;
}

.t {
    position: relative;
    top: 4px;
    left: 4.4px;
    width: 11px;
    height: 13px;
    font-family: AdobeGurmukhi;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    color: #ffffff;
}

.titanium {
    position: relative;
    top: 0.2px;
    left: 44px;
    width: 88px;
    height: 17px;
    font-family: NotoSansCJKkr;
    font-size: 19.8px;
    font-weight: bold;
    text-align: right;
    color: #ffffff;
}

.sel-bg-copy {
    position: absolute;
    top: 0px;
    left: 544px;
    width: 70px;
    height: 60px;
    background-color: #0a85ed;
}

.sel-bg-copy-disable-playback {
    position: absolute;
    top: 0px;
    left: 614px;
    width: 70px;
    height: 60px;
    background-color: #00000000;
}

.sel-bg-copy-disable-setting {
    position: absolute;
    top: 0px;
    left: 684px;
    width: 70px;
    height: 60px;
    background-color: #00000000;
}

.sel-bg-copy-disable-question {
    position: absolute;
    top: 0px;
    left: 754px;
    width: 70px;
    height: 60px;
    background-color: #00000000;
}

.ic-devices {
    position: relative;
    top: 19px;
    left: 21px;
    width: 30px;
    height: 20px;
    object-fit: contain;
    background-color: #00fafafa;
}

.playback {
    position: relative;
    top: 19px;
    left: 21px;
    width: 24px;
    height: 22px;
    object-fit: contain;
    background-color: #00fafafa;
}

.system {
    position: relative;
    top: 19px;
    left: 21px;
    width: 24px;
    height: 24px;
    object-fit: contain;
    background-color: #00fafafa;
}

.ellipse-5 {
    position: relative;
    top: 19px;
    left: 21px;
    width: 24px;
    height: 24px;
    object-fit: contain;
    background-color: #00fafafa;
}

.rounded-rectangle-1136 {
    position: absolute;
    top: 16px;
    left: 1042px;
    width: 120px;
    height: 28px;
    background-color: #112130;
}

.stream {
    width: 43px;
    height: 9px;
    font-family: NanumGothic;
    font-size: 11px;
    line-height: 1.82;
    color: #fafafa;
}