body {
    margin: 0px;
    padding: 0px;
}

.css-reset {
    position: relative;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
}

.tumblr-num-7-d-9-lp-xj-1-slhhf-0-o-1-1280 {
    width: 1366px;
    height: 768px;
}

.topbg {
    width: 1366px;
    height: 60px;
    background-color: #051019;
}

.rectangle-861 {
    position: relative;
    top: 708px;
    left: 0px;
    width: 1366px;
    height: 42px;
    background-color: #112130;
}

.sheild {
    position: relative;
    top: 20px;
    left: 16px;
    width: 19px;
    height: 20px;
    background-color: #1871bc;
}

.t {
    position: relative;
    top: 4px;
    left: 4.4px;
    width: 11px;
    height: 13px;
    font-family: AdobeGurmukhi;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    color: #ffffff;
}

.titanium {
    position: relative;
    top: 0.2px;
    left: 44px;
    width: 88px;
    height: 17px;
    font-family: NotoSansCJKkr;
    font-size: 19.8px;
    font-weight: bold;
    text-align: right;
    color: #ffffff;
}

.sel-bg-copy {
    position: absolute;
    top: 0px;
    left: 544px;
    width: 70px;
    height: 60px;
    background-color: #0a85ed;
}

.sel-bg-copy-disable-playback {
    position: absolute;
    top: 0px;
    left: 614px;
    width: 70px;
    height: 60px;
    background-color: #00000000;
}

.sel-bg-copy-disable-setting {
    position: absolute;
    top: 0px;
    left: 684px;
    width: 70px;
    height: 60px;
    background-color: #00000000;
}

.sel-bg-copy-disable-question {
    position: absolute;
    top: 0px;
    left: 754px;
    width: 70px;
    height: 60px;
    background-color: #00000000;
}

.ic-devices {
    position: relative;
    top: 19px;
    left: 21px;
    width: 30px;
    height: 20px;
    object-fit: contain;
    background-color: #00fafafa;
}

.playback {
    position: relative;
    top: 19px;
    left: 21px;
    width: 24px;
    height: 22px;
    object-fit: contain;
    background-color: #00fafafa;
}

.system {
    position: relative;
    top: 19px;
    left: 21px;
    width: 24px;
    height: 24px;
    object-fit: contain;
    background-color: #00fafafa;
}

.ellipse-5 {
    position: relative;
    top: 19px;
    left: 21px;
    width: 24px;
    height: 24px;
    object-fit: contain;
    background-color: #00fafafa;
}

.rounded-rectangle-1136-stream {
    position: absolute;
    top: 16px;
    left: 1042px;
    width: 120px;
    height: 28px;
    background-color: #112130;
}

.rounded-rectangle-1136-language {
    position: absolute;
    top: 16px;
    left: 1170px;
    width: 120px;
    height: 28px;
    background-color: #112130;
}

.stream {
    width: 43px;
    height: 9px;
    font-family: NanumGothic;
    font-size: 11px;
    line-height: 1.82;
    color: #fafafa;
}

.nor {
    position: absolute;
    top: 0px;
    left: 1306px;
    width: 60px;
    height: 60px;
    background-color: #081723;
}

.login {
    position: relative;
    top: 22px;
    left: 22px;
    width: 16px;
    height: 22px;
    border-radius: 5px;
    background-color: #00f8f8f8;
}

.ic-mic-on {
    position: relative;
    top: 7px;
    left: 17px;
    width: 14px;
    height: 24px;
    border-radius: 3px;
    background-color: #00fafafa;
}

.ic-sound-on {
    position: relative;
    top: 11.4px;
    left: 20px;
    width: 20px;
    height: 19px;
    background-color: #00fafafa;
}

.ic-picture-on {
    position: relative;
    top: 12px;
    left: 16px;
    width: 18px;
    height: 18px;
    background-color: #00fafafa;
}

.ic-position-on {
    position: relative;
    top: 11px;
    left: 18px;
    width: 20px;
    height: 20px;
    background-color: #00fafafa;
}

.ic-zoom-on {
    position: relative;
    top: 12px;
    left: 16px;
    width: 15px;
    height: 15px;
    background-color: #00fafafa;
}

.ic-emergency-on {
    position: relative;
    top: 12px;
    left: 20px;
    width: 20px;
    height: 18px;
    background-color: #00fafafa;
}

.ic-event-on {
    position: relative;
    top: 12px;
    left: 17px;
    width: 18px;
    height: 18px;
    background-color: #00fafafa;
}

.ic-vca-on {
    position: relative;
    top: 12px;
    left: 18px;
    width: 18px;
    height: 18px;
    background-color: #00fafafa;
}

.vca {
    position: relative;
    top: 0px;
    left: 0px;
    width: 16px;
    height: 7px;
    font-family: Arial;
    font-size: 7px;
    font-weight: 900;
    letter-spacing: -0.3px;
    text-align: right;
    color: #112130;
}

.ic-setting-on {
    position: absolute;
    top: 12px;
    left: 1297px;
    width: 18px;
    height: 18px;
    background-color: #00fafafa;
}

.ic-expand-on {
    position: absolute;
    top: 12px;
    left: 1332px;
    width: 20px;
    height: 16px;
    background-color: #00fafafa;
    border: solid 2px #00fafafa;
}

.live-view {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1366px;
    height: 768px;
    background-color: #00000000;
}